* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Main Style */
body {
  background-color: rgba(0, 0, 0, 0.2);
  max-width: 100vw;
}
@media (max-width: 400px) {
  body {
    background-color: rgb(124, 56, 56);
  }
}
main {
  line-height: 40px;
}
.header {
  text-align: center;
  margin: 25px;
}
a {
  text-decoration: none;
}
.features,
.usage {
  margin: 0px 0px 20px 150px;
}
.features-list,
.guide {
  margin: 0px 0px 20px 100px;
}
.main-list .sub-list {
  margin: 0px 0px 20px 60px;
}
.main-list .sub-list li {
  list-style: disc;
}
.guide-list {
  margin: 0px 0px 20px 60px;
}

.action h1 {
  text-align: center;
}
.image-box h2 {
  margin: 20px 0px 10px 0px;
}

.action {
  width: 100%;
}
.image-box {
  padding: 100px;
}
.image-box img {
  width: 100%;
  height: 450px;
  border: 2px solid black;
}
.footer {
  background-color: #26272b;
  color: #998686;
  text-align: center;
  margin-top: 10px;
}
/* Responsive Code */
@media (max-width: 991px) {
  .header {
    text-align: center;
  }
  .features,
  .usage {
    margin: 0px 0px 10px 50px;
  }
  .features-list,
  .guide {
    margin: 0px 0px 10px 50px;
  }
  .main-list .sub-list {
    margin: 0px 0px 0px 50px;
  }
  .main-list .sub-list li {
    list-style: disc;
  }
  .guide-list {
    margin: 0px 0px 10px 40px;
  }
  .image-box {
    padding: 0px 30px 0px 30px;
  }
  .image-box img {
    width: 100%;
    height: 340px;
    border: 2px solid black;
  }
}
/* Responsive Code for Mobile Devices */
@media (max-width: 500px) {
  .header {
    text-align: center;
  }
  .features,
  .usage {
    margin: 0px 0px 10px 30px;
  }
  .features-list,
  .guide {
    margin: 0px 0px 10px 8px;
  }
  .main-list .sub-list {
    margin: 0px 0px 10px 8px;
  }
  .main-list .sub-list li {
    list-style: disc;
  }
  .guide-list {
    margin: 0px 0px 10px 8px;
  }
  .image-box {
    padding: 0px 20px 0px 20px;
  }
  .image-box img {
    width: 100%;
    height: 180px;
    border: 2px solid black;
  }
}
