*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: linear-gradient(to right,rgb(0, 255, 132),rgb(58, 230, 246),rgb(207, 124, 255));
    font-family: Arial, Helvetica, sans-serif;
}
#card-container{
    width: 25%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    border: 2px solid rgb(237, 88, 7);
    border-radius: 15px;
    background-color: rgb(247, 243, 215);
    min-width: 300px;
    min-height: 450px;
}
#cover img{
    height: 23vh;
    width: 100%;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom:3px solid aqua ;
}
#photo img{
    border: 1px solid rgb(255, 255, 255);
    height: 20vh;
    width: 30%;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -22%;
    padding: 0.5%;
    background-color: aqua;
}
#location{
    display: flex;
    justify-content: center;
}
.text{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

#skills {
    margin: 2% 12%;
    background-color: rgb(201, 235, 246);
    border-radius: 8px;
    padding-top: 1%;
    padding-bottom: 1%;
}
#card-container>a{
    display: block;
    text-align: center;
}
p{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
p a{
    text-decoration: none;
    color: blueviolet;
}